html {
    font-family: 'Arima', cursive;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    font-size: 10vw;
}
.page {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: auto;
    height: 100vh;

    z-index: 1; 
}
.header {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: beige;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.headerp {
    animation: fade 2s both;
}
.headerl {
    animation: fade 2s both 0.3s;
}
.headera {
    animation: fade 2s both 0.6s;
}
.headers {
    animation: fade 2s both 0.9s;
}
.headert {
    animation: fade 2s both 1.2s;
}
.headere {
    animation: fade 2s both 1.5s;
}
.headerr {
    animation: fade 2s both 1.8s;
}
.headeri {
    animation: fade 2s both 2.1s;
}
.headern {
    animation: fade 2s both 2.4s;
}
.headerg {
    animation: fade 2s both 2.7s;
}
@keyframes fade {
    0% {
       opacity: 0;
       transform: scale(0.5); 
    }
    50% {
        opacity: 1;
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.section {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    scroll-margin: 0px;
}
.darkbg {
    background-color: lightgrey;
}